<!DOCTYPE html>
<html>
    <head>
        <title>trends in trending</title>
    </head>

    <body>
        <main>
            <h1>trends in trending</h1>
            <p>Welcome! Login or sign up below, or continue as guest.</p>
            <form action="/handle_login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password"><br>
                <input type="submit" value="Submit">
            </form><br>
            <nav><a href="/signup">sign up</a></nav>
            <nav><a href="/home">Continue as guest</a></nav>
        </main>
    </body>

</html>