<!DOCTYPE html>

<html>
    <head>
        <title>trends in trending</title>
    </head>

    <body>
        <h2>sign up</h2>
        <form action="/handle_signup" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br>
            <label for="password1">Confirm password:</label>
            <input type="text" id="password1" name="password1"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>